.container {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
}

.imgContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: auto;
  height: auto;
  max-width: 95%;
  max-height: 80%;
}
