.galleryContainer {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  background-color: #ccc;
}

.galleryRow {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.rowBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 400px) {
  .rowBox {
    justify-content: flex-start;
  }
}
