.galleryContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  overflow: hidden;
  padding: 80px 0;
}

.galleryTagsContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.tag {
  color: #464646;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.active {
  color: #49f;
}

.galleryImgBox {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1500px;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  z-index: 5;
}

.imgBox {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid #000;
}

.box1,
.box3 {
  display: none;
  box-shadow: 0px 0px 5px 2px #333;
}

.box2 {
  max-width: 90%;
  z-index: 3;
  box-shadow: 0px 5px 8px 6px #333;
}

.caption {
  position: absolute;
  bottom: 0rem;
  text-align: center;
  width: 80%;
}

.arrowBtn {
  position: absolute;
  border: none;
  border-radius: 50%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #1113;
  backdrop-filter: blur(5px);
  width: 40px;
  height: 40px;
  transition-duration: 250ms;
  cursor: pointer;
}

.arrowBtn:hover {
  background-color: #1118;
}

.arrowBtn.arrowLeft {
  left: 0.5rem;
}

.arrowBtn.arrowRight {
  right: 0.5rem;
}

@media screen and (min-width: 700px) {
  .galleryContainer {
    padding: 15% 0;
  }
  .galleryTagsContainer {
    margin-bottom: 5%;
  }
  .galleryImgBox {
    height: 150%;
  }
  .box1,
  .box3 {
    display: flex;
  }
  .imgBox {
    width: 45%;
  }
  .box2 {
    position: absolute;
    width: 60%;
    left: 20%;
  }
  .caption {
    bottom: -12%;
    font-size: 1.25rem;
  }
  .arrow {
    width: 50px;
    height: 50px;
  }
  .arrowBtn {
    width: 60px;
    height: 60px;
  }
  .arrowBtn.arrowLeft {
    left: 8%;
  }
  .arrowBtn.arrowRight {
    right: 8%;
  }
}

@media screen and (min-width: 900px) {
  .galleryContainer {
    padding: 12% 0;
  }
  .arrow {
    width: 70px;
    height: 70px;
  }
  .arrowBtn {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .galleryContainer {
    padding: 10% 0;
  }
}

@media screen and (min-width: 1200px) {
  .galleryContainer {
    padding: 7.5% 0 10%;
  }
}
