.imgContainer {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  i {
    height: 1rem;
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .imgContainer {
    width: 175px;
  }
}

@media screen and (min-width: 800px) {
  .imgContainer {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .imgContainer {
    width: 250px;
  }
}

@media screen and (min-width: 1600px) {
  .imgContainer {
    width: 300px;
  }
}
