.heroContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.heroImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.heroContent {
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  border-radius: 40%;
  transform: translate(-50%, -50%);
  background-color: #00000015;
  box-shadow: 0px 4px 8px 3px #000c;
  backdrop-filter: blur(3px);
  padding: 0.5rem;
  animation-name: appear;
  animation-delay: 500ms;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrowBtn {
  width: 50px;
  height: 50px;
  position: absolute;
  color: #fff;
  bottom: 3rem;
  background: #0003;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0.75;
  transition-duration: 500ms;
  cursor: pointer;
}

.arrowBtn:hover {
  opacity: 1;
  backdrop-filter: blur(3px);
}

.arrow {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 600px) {
  .heroContent {
    width: 60%;
    padding: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .heroContent {
    width: 40%;
    // padding: 0;
  }
}
