.navContainer {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
  width: 100vw;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #0004;
  backdrop-filter: blur(3px);
  color: #fff;
  padding: 0.25rem 0.75rem;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  cursor: pointer;
}

.hamburger {
  background: none;
  border: none;
  color: #fff;
  // display: none;
}

.nav {
  display: none;
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0.25rem 0;
    font-size: 1.5rem;
  }
  li {
    width: 100%;
    display: flex;
    text-align: center;
  }
  a {
    transition-duration: 200ms;
    width: 100%;
    padding: 0.75rem 0;
  }
  a:hover {
    background-color: #49f;
  }
}

.nav.open {
  display: flex;
}

@media screen and (min-width: 650px) {
  .navContainer {
    padding: 0.5rem 2rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    ul {
      flex-direction: row;
      gap: 1.5rem;
    }
    a:hover {
      background-color: unset;
      color: #49f;
    }
  }
  .hamburger {
    display: none;
  }
}
