.navContainer {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: #0004;
  color: #fff;
  padding: 0 1rem;
}

.titleContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: "Slabo 27px", serif;
  letter-spacing: 1.25px;
  font-size: 18px;
}

.hamburger {
  background: none;
  border: none;
  color: #fff;
}
